<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<div th:fragment="header">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a th:href="@{/dashboard}">Home</a></li>
	      	<li><a th:href="@{/rooms}">Rooms</a></li>
	  		<li><a th:href="@{/users}">Users</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li>
	        	<form class="logOut" th:action="@{/logout}" method="post">
	      			<input class="btn purpleBtn" type="submit" value="Sign Out"/>
	  			</form>
	  		</li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>
</body>
</html>
