<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="rooms.css">
</head>


<body>


<div class="container-fluid">
 
  <div class="row">
     <h2 id="title">Rooms</h2>
  </div>

<div class="row">

  <table class="table">
  <thead>
      <tr>
     
       <th><h4>Name</h4></th>
       <th><h4>Number</h4></th>
       <th><h4>Actions</h4></th>
 
       
      </tr>
    </thead>
    
    <tbody>
       <tr th:each="room : ${rooms}">
       
        
         <td th:text="${room.name}"></td>
         <td><a href="#" th:text="${room.number}"></a></td>
         <td><a class="but" th:href="@{/edit}">Edit</a> <a class="but" th:href="@{/room/delete/${room.id}}">Delete</a></td>
      
        
  
	   </tr>
		   
    </tbody>
   
 </table>
 </div>
 
<a class="but" id="Add" href="/room/add/${room}">Add</a> <!-- NISAM SIGURNA -->
 
</div>
</body>
</html>